body, html {
  font-family: 'Orbitron', Arial, sans-serif;
}
.header {
  height: 400px;
  background: url('/layout/img/ff2.jpg') 0 -180px no-repeat;
  background-size: cover;
}
.header-wrap{
	padding-top: 250px !important;
	background: rgba(351,98,78,.87);
}
.h3-title {
  position: relative;
  color: #252627;
}
.h3-title:before {
  width: 100px;
  height: 3px;
  background: #DD0426;
  content: '';
  display: block;
  top: -1.5rem;
  left: 0;
  position: absolute;
}
.h1-name {
  color: #FFF9FB;
  font-size: 5rem;
}
