body, html {
  font-family: 'Orbitron', Arial, sans-serif;
}
blockquote{
	margin: 0 1.5rem;
}
.header {
  height: 500px;
  background: url('/layout/img/ff2.jpg') left center no-repeat;
  background-size: cover;
}
.header-wrap{
	padding-top: 250px !important;
	background: rgba(351,98,78,.47);
	transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.h3-title {
  position: relative;
  color: #252627;
	font-weight: 700;
}
.h3-title:before {
  width: 100px;
  height: 3px;
  background: #DD0426;
  content: '';
  display: block;
  top: -1.5rem;
  left: 0;
  position: absolute;
}
.h1-name {
  color: #FFF9FB;
  font-size: 5rem;
	font-weight: 700;
}

.congrats-bg{
	background: url(https://images.unsplash.com/photo-1445645001947-cc3b794d8a01?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=&bg=) center no-repeat;
	background-size: cover;
}
.bg-blue{
	background: #0486DD;
}
.bg-white-op2{
	background: rgba(255,255,255,.2);
	border-top: 5px solid #FFF9FB;
}
.h2-title{
	position: relative;
}
.h2-title:after {
    width: 100px;
    height: 3px;
    background: #252627;
    content: '';
    display: block;
    margin: 1rem auto 2rem;
    bottom: 0;
}

@media (min-width: 768px) {
	.header-wrap{
		width: 50%;
		background: rgba(351,98,78,.87);
	}
}
